{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load disqus_tags %}
{% block meta_container %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ object.body}}">
  <meta name="author" content="Anoop John">
  <title>{{ object.title }}</title>
{% endblock meta_container %}
{% block header %}
<header class="whiteheader"></header>
<header class="indexheader innerheader pdgTB15">
<div class="maincontainer">
<div class="row">
<div class="col-md-3 col-sm-8 col-xs-8 logdiv">
 
<a href="{% url 'home' %}" class="fixedlogo"><img src="{% static 'site/images/color_logo.png' %}"></a>
</div>
{% include 'header_partial.html' %}
<div class=" col-sm-4 col-xs-4 mobmenu pull-right mgnTB15">
<div class="mob_menuclick right">
<span class="linemenu"></span>
<span class="linemenu"></span>
<span class="linemenu"></span>
</div>
<div class="mobmneuslide">
<div class="closemenu"><i class="fa fa-close white_text"></i></div>
<div class="mobmneuslidemenu"></div>
</div>
</div>
</div>
</div>
</header>
{% endblock %}
{% block container %}
	<div class="clearfix"></div>
	<div class=" pdgTB15"></div>
  	<div class="maincontainer">
  		<div class="row">
  		  <div class="col-md-7 col-md-offset-3">
			<h4><a href="{% url 'blogs:blog_list' %}">< Back to blogs</a></li></h4>
			<h2>{{ object.title }}</h2>
			<br>
			<div class="text-muted">{{ object.posted|date:"M d, Y" }}</div>
  		  </div>
  		</div>
	  	<div class="row">
			  <div class="col-md-6 col-md-offset-3">
		  		<div class="fullwidth pdgTB50 left">
					<div class="font-17 justify blog-text">
						{{ object.body|safe }}
					</div>
				</div>
	    		<div id="disqus_thread"></div>
			  </div>
			<!-- <div class="col-lg-5">
				<h1>Related Blogs</h1>
			</div>
			<div class="col-lg-5 ">
			  <ul class="list-group">
			  {% for blog in related_blogs %}
				<li class="list-group-item"><a href="{% url 'blogs:blog_detail' blog.slug %}">{{blog.title}}</a></li>
			  {% endfor %}
			  </ul>
			</div> -->
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//rawdatatech.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56ed0750879d2b75"></script>
{% endblock scripts %}

