{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load disqus_tags %}
{% block meta_container %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ object.body|safe }}">
  <meta name="author" content="Anoop John">
  <title>{{ object.title }}</title>
{% endblock meta_container %}
{% block header %}
<header class="whiteheader"></header>
<header class="indexheader innerheader pdgTB15">
<div class="maincontainer">
<div class="row">
<div class="col-md-3 col-sm-8 col-xs-8 logdiv">
 
<a href="{% url 'home' %}" class="fixedlogo"><img src="{% static 'site/images/color_logo.png' %}"></a>
</div>
{% include 'header_partial.html' %}
<div class=" col-sm-4 col-xs-4 mobmenu pull-right mgnTB15">
<div class="mob_menuclick right">
<span class="linemenu"></span>
<span class="linemenu"></span>
<span class="linemenu"></span>
</div>
<div class="mobmneuslide">
<div class="closemenu"><i class="fa fa-close white_text"></i></div>
<div class="mobmneuslidemenu"></div>
</div>
</div>
</div>
</div>
</header>
{% endblock %}
{% block container %}
	<div class="clearfix"></div>
 	<section class="coretop fullwidth left">
  	<div class="maincontainer">
  		<div class="row">
  		  <div class="col-lg-12">
			<h1>{{ object.title }}</h1>
			<div class="text-muted">Published: {{ object.posted }}</div>
			<div class="addthis_sharing_toolbox"></div>
  		  </div>
  		</div>
	  	<div class="row">
			  <div class="col-lg-7 core_right ">
		  		<div class="fullwidth pdgTB50 left">
					<div class="font-17 justify blog-text">
						{{ object.body|safe }}
					</div>
				</div>
			  </div>
			<div class="col-lg-5">
				<h1>Related Blogs</h1>
			</div>
			<div class="col-lg-5 ">
			  <ul class="list-group">
			  {% for blog in related_blogs %}
				<li class="list-group-item"><a href="{% url 'blogs:blog_detail' blog.slug %}">{{blog.title}}</a></li>
			  {% endfor %}
			  </ul>
			</div>
		</div>
	</div>
	</section>
{% disqus_show_comments "rawdatatech" %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
{% endblock %}
{% block scripts %}
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56ed0750879d2b75"></script>
{% endblock scripts %}

