{% load endless %}
{% paginate blogs %}
{% for blog in blogs %}
       <div class="col-md-4">
       <a class='div-click' href="{% url 'blogs:blog_detail' blog.slug %}" class="tag">{{category.title}}</a>
         <div class="panel-custom panel-default-custom">
           <div class="panel-heading-custom font-17">
            {{ blog.title|truncatechars:65 }}
            </div>
           <div class="image-div list-inner blog-list-height">
             <img src={{ blog.image.url}} width="100%">
         </div>
         <div class="panel-body-custom">{{blog.body|safe|striptags|truncatechars:150}}</div>
         <br>
         {% for category in blog.category.all %}
           <a href="#" class="tag">{{category.title}}</a>
         {% endfor %}
       </div>
     </div> 
     {% endfor %}
{% show_more %}
