<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.Division{
   float: left;
    width: 200px;
    height: 200px;
    //border: 2px solid #000000;
    margin-left: 10px;
    margin-right: 10px
}
</style>
</head>
<body>
<div>
    
<div class="Division"><img src="https://dl.dropboxusercontent.com/u/10221224/new" style = "border-radius:13px;height: 150px;width: 150px; float:left;" >
</div>
<div class="Division">
	<div style = "font-size:16px";>
		<span>Message from {{contact_name}}</span><br/>
		<span>Email : {{contact_email}}</span> <br/>
		<span>Phone : {{contact_phone}}</span> <br/>
	 	<span>Message:{{content}}</span> <br/>
	 </div>
 </div>
</div>
</body>
</html>
