<div class="col-md-9 col-sm-4 menuright pull-right mgnTB15">
          <ul class="menu_ul pull-right">
          <li class="menuli submenulimain"><a class="menua">Core Technologies <i class="fa fa-angle-down"></i></a>
            <div class="submenudiv">
              <i class="fa fa-caret-up"></i>
              <ul class="submenuul pdg10 text-capitalize">
              <li class="submenuli"><a class="submenua" href="{% url 'python-django' %}">Python / Django </a></li>
              <li class="submenuli"><a class="submenua" href="{% url 'javascript' %}">JavaScript / AngularJS / Node.js </a></li>
              <li class="submenuli"><a class="submenua" href="{% url 'cross-platform' %}">IOS / Android</a></li>
              </ul>
            </div>
          </li>
          <li class="menuli submenulimain"><a class="menua">Customer Success <i class="fa fa-angle-down"></i></a>
            <div class="submenudiv">
              <i class="fa fa-caret-up"></i>
              <ul class="submenuul pdg10 text-capitalize">
              <li class="submenuli"><a class="submenua" href="{% url 'whoweserve' %}">Who we Serve</a></li>
              <li class="submenuli"><a class="submenua" href="{% url 'customer-success' %}">Our Success Process</a></li>
              </ul>
            </div>
          </li>
          <li class="menuli"><a href="{% url 'contact-us' %}" class="menua">Contact</a></li>
          </ul>
        </div>